<% content_for(:head) do %>

<meta property="og:site_name" content="soundszr">
<meta property="og:url" content="<%= clip_url @clip %>">
<meta property="og:title" content="This is the title">
<meta property="og:description" content="This is the description">
<meta property="og:image" content="<%= @clip.get_image_url %>">
<meta property="og:type" content="video">
<meta property="og:video:url"        content="<%= convert_url(@clip) %>">
<meta property="og:video:secure_url" content="<%= convert_url(@clip) %>">
<meta property="og:video:type" content="video/mp4">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">

<% end %>

    <header>
      <div class="wrapper">
        <div id="openmenu"><i class="fa fa-align-justify"></i></div>
        <figure><%= image_tag 'logo.jpg' %></figure>
        <div class="clear"></div>
      </div>
    </header>
    
    <div class="wrapper">
      <section class="szrblock">
        <%= image_tag @clip.try(:episode).try(:image_url), style: 'max-width: 150px;' %>
        
        <article id="szr-id">
          <h1><%= @clip.try(:episode).try(:show).try(:name) %></h1>
          <h3>Episode # | <%= @clip.try(:episode).try(:name) %></h3>
          
          <audio></audio>
        </article>
        <div class="clear"></div>
      </section>
    
    
      <section id="message-id" class="message">
        <h3>Message</h3>
        <p>“I listened to this episode, and thought of you. Here’s a clip, or check out the full episode.”</p>
        <p>~<%= @clip.user.try(:name) %></p>
        <%= link_to 'Edit', edit_clip_path(@clip) %>
        <div class="clear"></div>
      </section>
    
      <div class="buttons">
        <a href="#"><button class="full red">Full Episode</button></a>
        <a href="#"><button class="share red">Share <i class="fa fa-facebook-official"></i></button></a>
        <div class="clear"></div>
      </div>
    </div>


