<% content_for(:head) do %>

<meta property="og:site_name" content="soundszr">
<meta property="og:url" content="<%= clip_url @clip %>">
<meta property="og:title" content="<%= @clip.og_title %>">
<meta property="og:description" content="<%= @clip.og_desc %>">
<meta property="og:image" content="<%= @clip.get_image_url %>">
<meta property="og:type" content="video">
<meta property="og:video:url" content="<%= @clip.video_url %>">
<meta property="og:video:secure_url" content="<%= @clip.video_url %>">
<meta property="og:video:type" content="video/mp4">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">

<% end %>

      <section class="szrblock">
        <%= image_tag proxy_path(url: @clip.try(:episode).try(:image_url)), style: 'max-width: 150px;' %>
        
        <article id="szr-id">
          <h1><%= @clip.try(:episode).try(:show).try(:name) %></h1>
          <h3><%= @clip.try(:episode).try(:name) %></h3>
          <p><%= @clip.try(:episode).try(:description) %></p>
          
          <audio></audio>

        </article>
        <div class="clear"></div>
      </section>
    
      <section id="message-id" class="message">
        <h3>Message</h3>
        <p>“<%= @clip.message %>”</p>
        <p>~<%= @clip.user.try(:name) %></p>
        <%= link_to 'Edit', edit_clip_path(@clip) %>
        <div class="clear"></div>
      </section>
    
      <div class="buttons">
        <%= link_to @clip.episode.episode_url do %><button class="full red">Full Episode</button><% end %>
        <a href="#" onClick="fbShare()">
          <button class="share red">Share <i class="fa fa-facebook-official"></i></button>
        </a>
        <div class="clear"></div>
      </div>
      
      
   
<script>
(function() {  
  $.ajax({
    type: "GET",
    url: '/process',
    data: {
      clip_id: <%= @clip.id %>
    },
    success: function(data) {
      console.log(data)
    },
  });
})();

  function fbShare() {    
      var title = "Share soundszr";
      var descr = "Share soundszr desc";
      var url = "<%= clip_url(@clip) %>";
      var winHeight = 330;
      var winWidth = 450;

      var winTop = (screen.height / 2) - (winHeight / 2);
      var winLeft = (screen.width / 2) - (winWidth / 2);
      window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
  }
</script>

