<article class="content">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @user.name %>
	</p>
	
	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>
	
	<p>
	  <strong>Twitter url:</strong>
	  <%= @user.twitter_url %>
	</p>
	
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
</article>