<section class="home">
	<h1>Welcome to soundszr</h1>
	<p>On soundszr, listeners can select and share moments of their favorite podcasts with their favorite people on Facebook.</p>	
	
</section>

<article class="content">
	<h1>Episodes</h1>
	
	<table class="table table-striped">
	  <thead>
	    <tr>	      
	      <th></th>
	      <th>Show</th>
	      <th>Name</th>
	      <th>Description</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @episodes.each do |episode| %>
	      <tr>	        	        
	        <td><%= image_tag proxy_path(url: episode.image_url) %></td>
	        <td><%= episode.show.try(:name) %></td>
	        <td><%= episode.name %></td>
	        <td>
	        	<%= episode.description %><br>
	        	<br>
	        	<%= link_to "Create A Clip", new_clip_path(episode_id: episode.id) %><br>
	        	<%= link_to "Browse Clips", clips_path(episode_id: episode.id) %>
	        </td>
	        <td><%= link_to 'Show', episode %></td>
	        <td><%= link_to 'Edit', edit_episode_path(episode) %></td>
	        <!-- <td><%= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<br>
	
	<%= link_to 'New Episode', new_episode_path %>
</article>