<!DOCTYPE html>
<html>
<head>
  <title>Audiohack</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

	<nav id="leftnav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/clips/1">szr</a></li>
			<li><a href="/episodes">Episodes</a></li>
		</ul>
	</nav>
	<div id="pagewrapper">
		<header>
	      <div class="wrapper">
	        <div id="openmenu"><i class="fa fa-align-justify"></i></div>
	        <figure><%= image_tag 'logo.jpg' %></figure>
	        <div class="clear"></div>
	      </div>
	    </header>
	    
	    <div class="wrapper page-content">
			
			<%= yield %>
		 
		 </div>
	</div>

</body>
</html>
